@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap'); /*Fuente de google font*/

/*estética*/
* {
  box-sizing: border-box; /*Control del tamaño de los contenedores*/
  margin: 0; /*reseteo de los espacios default*/
  padding: 0; /*reseteo de los espacios default*/
  font-family: 'Poppins', sans-serif; /*llamando al tipo de letra*/
  height: 100%;/*body ocupa 100%*/
  font-size: calc(.6em + .6vw); /*Ajustar tamaño de letra*/
}

/*estética de grid containers*/
.grid-container > * {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 0px;
  padding: 0px;
  text-align: center;
}






/*Estética de secciones del maquetado*/
.cabecera {
    grid-area: navbar;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url("../assets/header_homeOptimizada2.jpeg");
    background-size: cover;
  }

.anuncios {
  grid-area: header; /*indica a cual elemento SELECTOR del html corresponde*/
  background-color: #222434;
}

.cuerpoPrincipal {
  grid-area: main;
  background-color: #ffffff;
}

.comentarios {
  grid-area: section;
  background-color: #b7ced9;
  opacity: 0.7;
}

.pie {
  grid-area: footer;
  background-color: #4a4641;
}





/*Ajustar pantallas*/
/*dispositivo pequeño*/
.grid-container {
  display: grid;
  gap: 0px; /*Separación entre cada celda del grid*/
  grid-template:
    "navbar"  200px /*Altura de la celda*/
    "header" 90px
    "main" 500px
    "section" 90px
    "footer"  165px;
}

/*para un dispositivo mediano*/
@media (min-width: 400px) {
  .grid-container {
    /* medidas de areas de filas y columnas */
    grid-template:
    "navbar navbar"  300px /*Altura de la celda*/
    "header header" 100px
    "main main" 600px
    "section section" 100px
    "footer footer"  185px;
  }
}

/*para un dispositivo mediano*/
@media (min-width: 600px) {
    .grid-container {
      /* medidas de areas de filas y columnas */
      grid-template:
      "navbar navbar"  400px /*Altura de la celda*/
      "header header" 120px
      "main main" 620px
      "section section" 150px
      "footer footer"  200px;
    }
  }
  
  /*dispositivos grande*/
  @media (min-width: 800px) {
    .grid-container {
      grid-template:
      "navbar navbar"  550px /*Altura de la celda*/
      "header header" 150px
      "main main" 1000px
      "section section" 240px
      "footer footer"  370px;
    }
  }







/*estilo del MENU*/
  .cabecera > * {
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 2%;
    padding-bottom: auto;
    padding-right: 2%;
    padding-left: 2%;
    list-style: none;
    font-weight: bolder;
    border: none;
}

.cabecera > .elementosIzquierda {
    justify-content:left;
    height: 10%;
    cursor:pointer;
    float: left;
    border: none;
}

.elementosIzquierda{
  max-height: 10%;
  border: 0x solid red;
  border: none;

}

.cabecera > .elementoCentro {
    justify-content:center;
    height: 10%;
    filter: invert(1);
    cursor: none;
    float: left;
    border: none;
}

#logoINTENAT{
    transition: all 0.3s;
}

.cabecera > .elementosDerecha {
    justify-content:end;
    height: 10%;
    float: left;
    border: none;
}


.cabecera  .elementoCentro img:hover{
    cursor: pointer;
    border: none;
}

.cabecera  .elementosIzquierda img:hover{
    transform: scale(1.11); /*para que aumente y disminuya tamaño logo CURSOR ENCIMA*/
    cursor: pointer;
    border: none;
}

.cabecera .elementosDerecha a{
    padding: 0 20px;    
    border: none;
}

.cabecera .elementosDerecha a:hover{
    transform: scale(1.115); /*para que aumente y disminuya tamaño de palabras MENU CURSOR ENCIMA*/
    transition: all 0.5s;
    border: none;
}

.cabecera .elementosDerecha a{
    color: #eceff1; /*Color a texto menu*/
    text-decoration: none;
    border: none;    
}

.cabecera .elementosDerecha a:hover{
    color: #ffbc0e;
    border: none;
}






