  /*PIE*/

  
  .pieInfo1 {
    width: 200%;
    padding-right: 15%;
  }

  .pieInfo2 {
    width: 200%;
    padding-right: 15%;
  }

  .pieInfo3 {
    width: 200%;
    padding-right: 15%;
  }

  .pieInfo4 {
    width: 200%;
  }

  .pieContainer{
    display: flex;
    flex-direction: row;
    float: left;
    padding-left: 7%;
  }

  .pieContainer img {
    height: 20%;
  }

  .pieContainer a:hover{
    transform: scale(1.115);
    transition: all 0.5s;
    color: #ffbc0e;
  }

  .pieContainer a {
    color: aliceblue;
    text-decoration: none;
    font-size: calc(.3em + .6vw); 
  }

  .pie {
    color: aliceblue;
    text-decoration: none;
    text-align: left;
  }

  #primerBloque {
    font-size: calc(.3em + .6vw); 
  }

  #logoINTENAT2 {
filter: invert(3);
  }

  #icono {
    filter: invert(2);
    height: 5%;
  }

  #pieUltimoIcono {
    height: 8%;
    align-items: end;
  }



  /*SECCION MAIN ABAJO - OFERTAS*/

#tituloMenu{
    text-align: center;
    font-weight:bolder;
    font-size: calc(0.1em + 0.1vw); /*Ajustar tamaño de letra*/
  }
  
  .ofertaContainer {
    height: 30vw;
    max-height: 500px;
    min-height: 250px;
    height: auto;
  
  
    display:flex;
    justify-content: space-around;
    align-items: center;
    float: center;
    text-align: center;
    /*flex-wrap: nowrap;
    overflow-x: auto;*/
  
    padding-top: 5%;
    padding-bottom: 5%;
    
    padding-right: 15%;
    padding-left: 15%;
  }
  
  .divOferta {
    max-height: 50%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    float: center;
    margin: 1%;
  }

  .ofertaContainer > .divOferta {
    border: 0px solid orange;
  }


  #menuOferta { /*Icono fuego azul*/
    width: 8%;
  }
  
  #OFI { /*Imagenes oferta*/
    width: 50%;  
  }

  #fuegoRojo{
    height: 5%;
  }

  
  #OFI:hover{
    transform: scale(1.1);
    transition: all 0.5s;
  }